<div class="position-fixed w-25 d-none" id="success"
        style="left:530px;  background-color: black; border-radius:10px; z-index: 1;">
        <p class="text-center mt-3" style="color: white;">Product Added to Cart</p>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {{#each bannerData}}
    <div class="carousel-item active">
      <img src="{{this.image}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{this.description}}</h5>
        <p>NEW ACTION COMIN SOON</p>
      </div>
    </div>
    {{/each}}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  {{!-- <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span> --}}
  </button>
</div>






{{!-- <div class="container">
  <div class="row mt-5" style="display: flex;">

    {{#each product}}

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-3" style="width:16rem" id="card">
        <img src="/product-images/{{this._id}}/{{this._id}}_0.png" class="card-img-top"
          style="width: auto; align-items: center; height: 250px;" alt="IMAGE">
        <div class="card-body">
          <h5 class="card-title">{{this.game}}</h5>
          <p class="card-text">{{this.category}}</p>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><b>Price:</b>{{this.offerPrice}}</p>
          <a href="/product-view/{{this._id}}" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
</div> --}}
<h3>NEW RELEASES</h3>
<div class="container pt-5">
	<div class="row">
    {{#each product}}
		<div class="col-md-4">
    <div class="profile-card-2"><img style="height: 500px;width: 400px;" src="{{this.image.[0]}}" class="img img-responsive">
        <div class="profile-name">{{this.game}}</div>
        <div class="profile-username">{{this.developers}}</div>
        
        <div class="profile-icons"><a href="/product-view/{{this._id}}"  class="btn btn-primary" style="border-radius:43% ;">Buy Now</a><button onclick="addToCart('{{this._id}}')" style="background: none;border: none;color: blue;"><i class="fs-4 bi-cart-plus"></i></button></div>
    </div>
</div>
{{/each}}
</div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal" >Open modal for @mdo</button>


<div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="background: #000e4d00;">
    <div class="modal-content" style="background: #000e4d00;">
      
<div class="wrap-login100 p-t-30 p-b-50 mt-5">

            <form class="login100-form validate-form p-b-33 p-t-5" onsubmit="return logInValidate()" action="/login"
                method="post">
                <div class="invalid-feedback ms-5 d-block">
                    {{#if loginChecker}}
                    {{loginChecker}}
                    {{/if}}
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" id="email" type="text" id="email" name="email"
                        placeholder="User name or Email">
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>
                {{!-- <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="username" placeholder="Mobile Number">
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                </div>--}}

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <div class="invalid-feedback ms-5 d-block"></div>
                    <i class="far fa-eye" id="togglePassword" style="cursor: pointer; position: absolute; "></i>
                    <input class="input100" type="password" id="password" name="password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>

                <div class="container-login100-form-btn mt-5">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <hr>
                <div class="container-login100-form-btn mt-1">
                    <button class="login100-form-btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
                        type="button">
                        Login With OTP
                    </button>
                </div>

                <p class="d-flex justify-content-center p-2" style="color: #a3a3a3;">New User?<a href="/signup">Sign
                        Up</a>
                </p>

            </form>
        </div>

    </div>
  </div>
</div>

<style>
  body {

    background-color: rgb(34, 31, 31);
  }
  .profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
    
}

  /*//////////////////////////////////////////////////////////////////
[ FONT ]*/

    @font-face {
        font-family: Ubuntu-Regular;
        src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
    }

    @font-face {
        font-family: Ubuntu-Bold;
        src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
    }




    /*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body,
    html {
        height: 100%;
        font-family: Ubuntu-Regular, sans-serif;
    }

    /*---------------------------------------------*/
    a {
        font-family: Ubuntu-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #fff;
    }

    /*---------------------------------------------*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px;
    }

    p {
        font-family: Ubuntu-Regular;
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }

    ul,
    li {
        margin: 0px;
        list-style-type: none;
    }


    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;

    }

    textarea {
        outline: none;
        border: none;
    }

    textarea:focus,
    input:focus {
        color: #e2e2e2;
        border-color: transparent !important;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    input:focus:-ms-input-placeholder {
        color: transparent;
    }

    textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }

    textarea:focus:-moz-placeholder {
        color: transparent;
    }

    textarea:focus::-moz-placeholder {
        color: transparent;
    }

    textarea:focus:-ms-input-placeholder {
        color: transparent;
    }

    input::-webkit-input-placeholder {
        color: #b8b8b8;
    }

    input:-moz-placeholder {
        color: #555555;
    }

    input::-moz-placeholder {
        color: #555555;
    }

    input:-ms-input-placeholder {
        color: #555555;
    }

    textarea::-webkit-input-placeholder {
        color: #555555;
    }

    textarea:-moz-placeholder {
        color: #555555;
    }

    textarea::-moz-placeholder {
        color: #555555;
    }

    textarea:-ms-input-placeholder {
        color: #555555;
    }

    label {
        margin: 0;
        display: block;
    }

    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
        background: transparent;
    }

    button:hover {
        cursor: pointer;
    }

    iframe {
        border: none !important;
    }


    /*//////////////////////////////////////////////////////////////////
[ Utility ]*/
    .txt1 {
        font-family: Poppins-Regular;
        font-size: 13px;
        color: #e5e5e5;
        line-height: 1.5;
    }


    /*//////////////////////////////////////////////////////////////////
[ login ]*/

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;


        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .container-login100::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65);
    }

    .wrap-login100 {
        width: 390px;
        border-radius: 10px;
        overflow: hidden;
        background: transparent;
    }


    /*------------------------------------------------------------------
[ Form ]*/

    .login100-form {
        width: 100%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.185);
    }

    .login100-form-logo {
        font-size: 60px;
        color: #333333;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
    }

    .login100-form-title {
        font-family: Ubuntu-Bold;
        font-size: 28px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;

        display: block;
    }


    /*------------------------------------------------------------------
[ Input ]*/

    .wrap-input100 {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 29px 0;
    }

    .input100 {
        font-family: Ubuntu-Regular;
        font-size: 20px;
        color: #555555;
        line-height: 1.2;

        display: block;
        width: 100%;
        height: 50px;
        background: transparent;
        padding: 0 10px 0 80px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    /*---------------------------------------------*/
    .focus-input100 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;

        background: #14002e;

            {
                {
                !-- background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
                background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
                background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
                background: linear-gradient(left, #a445b2, #d41872, #fa4299);
                --
            }
        }
    }

    .focus-input100::after {
        font-family: Linearicons-Free;
        font-size: 18px;
        color: #999999;

        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 35px;


        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .input100:focus {
        padding-left: 60px;
    }

    .input100:focus+.focus-input100::after {
        left: 23px;
        color: #0b0069;
    }

    .input100:focus+.focus-input100::before {
        width: 100%;
    }

    .has-val.input100+.focus-input100::after {
        left: 23px;
        color: #110072;
    }

    .has-val.input100+.focus-input100::before {
        width: 100%;
    }

    .has-val.input100 {
        padding-left: 60px;
    }


    /*------------------------------------------------------------------
[ Button ]*/
    .container-login100-form-btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login100-form-btn {
        font-family: Ubuntu-Bold;
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 42px;
        border-radius: 21px;

        background: #000e4d;

        position: relative;
        z-index: 1;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 21px;
        background-color: #555555;
        top: 0;
        left: 0;
        opacity: 0;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login100-form-btn:hover {
        background-color: transparent;
    }

    .login100-form-btn:hover:before {
        opacity: 1;
    }



    /*------------------------------------------------------------------
[ Alert validate ]*/

    .validate-input {
        position: relative;
    }

    .alert-validate::before {
        content: attr(data-validate);
        position: absolute;
        max-width: 70%;
        background-color: #fff;
        border: 1px solid #c80000;
        border-radius: 2px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;

        font-family: Ubuntu-Bold;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;

        visibility: hidden;
        opacity: 0;

        -webkit-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    .alert-validate::after {
        content: "\f12a";
        font-family: FontAwesome;
        font-size: 16px;
        color: #c80000;

        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
    }

    .alert-validate:hover:before {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 992px) {
        .alert-validate::before {
            visibility: visible;
            opacity: 1;
        }
    }


</style>